<ul *ngIf='todoService.todoItems.length; else empty'>
  <li *ngFor='let todo of todoService.todoItems; let idx = index'>
    <p>
      <label [attr.data-tooltip]='todo.description' #todoTitle>
        <input type="checkbox" [checked]='todo.done' (change)='onChecked(todo.id)'/>
        <span class="todo-title" [class.done]='todo.done'>{{ todo.title }}</span>
      </label>
    </p>
    <div class="side-content">
      <small>{{ todo.date | date:'medium' }}</small>
      <button class="btn-floating btn-small waves-effect waves-light teal darken-1" (click)='onEdit(todo.id)'><i class="material-icons">edit</i></button>
      <button class="btn-floating btn-small waves-effect waves-light red" (click)='onRemove(todo.id)'><i class="material-icons">clear</i></button>
    </div>
  </li>
</ul>

<ng-template #empty>
  <h3 class="center">
    The list is empty now
  </h3>
</ng-template>
